* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --corprincipal: #657047
}

body {
    background-color: #FEF8E8;
}

div.container_cabecalho {
    display: flex;
    justify-content: space-between;
    width: 90%;
    max-width: 1440px;
    background-color: var(--corprincipal);
    margin: 0 auto;
    height: 100%;
    align-items: center;
}


header {
    background-color: #657047;
    height: 100px;
}

.logo {
    width: 100px;
   

}

.box_busca {
    width: 60%;
    max-width: 500px;
    margin: 0 10px;
   /* background-color: aqua;*/
    position: relative;
}

.lupa {
    height: 24px;
    position: absolute;
    left: 9px;
    top: 7px;
}

.busca {
    width: 80%;
    height: 30px;
    border-radius: 10px;
    border: solid 1px #cccccc;
    padding-left: 2.5rem;
    font-family: "Abel", system-ui;
    font-size: 1.5rem;
    top: 20px;
    padding: 10px;
}

.login{
    width: 50px;
    cursor: pointer;
}

/* banner */
.banner{
    background-image: url(../assets/img/sala\ inicio\ \(1\).png);
     width: 100%;
  aspect-ratio: 3.2;
  background-repeat: no-repeat;
  background-size: cover;
}
.rolagem{
    width: 50px;
    margin-left: 50%;
}

/* cards */
.cards{
    border-radius: 50px;

}

 div.linha1{
    display: flex;
    justify-content: center;
   margin-bottom: 50px;
}
div.quarto{
     margin-right: 30px; 
     
    }
    
    div.quarto-inf{
        
    }
    
    div.linha2{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
    }
    
    div.banheiro{
        
        margin-right: 30px; 
    }
    
    
    div.cozinha{
        
        margin-right: 30px; 
    }
    
    div.linha3{
        display: flex;
        justify-content: center;
    }
    
    div.area{
     margin-right: 30px; 

 }