* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.acessivel{
    position: absolute;
    /* Remove do fluxo do layout */
    width: 1px;
    /* Largura mínima */
    height: 1px;
    /* Altura mínima */
    overflow: hidden;
    /* Oculta qualquer conteúdo extra */
    clip-path: inset(50%);
    /* Recorta todo o conteúdo */
    white-space: nowrap;
    /* Evita quebras de linha */
    border: 0;
    /* Sem borda */
}

body {
    background-color: #FEF8E9;
}

.container {
    width: 90%;
}

/* HEADER */
header {
    background-color: #657047;
}

.container_header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.icone_voltar {
    height: 50px;
}

.icone_logo {
    height: 50px;
}

.icone_lupa{
    height: 50px;
}

.icone_login{
    height: 50px;
}


/* BANNER */
.banner {
    background-image: url(../assets/img/Quarto.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    aspect-ratio: 3.2;
}


/* CARDS */
.titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0;
}

.titulo span {
    font-size: 48px;
    font-family: "Limelight";
}

.titulo hr {
    background-color: var(--corPrincipal);
    width: 300px;
    height: 4px;
    border: none;
    border-radius: 2px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
    justify-content: center;
}

.card {
    width: 350px;
    height: 500px;
    background-color: #657047;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 100px;
}

.card img {
    width: 100%;
}

.card h2 {
    margin: 20px 0;
    font-size: 28px;font-family: "Abel";
}

.card p {
    padding: 0 10px;
    font-size: 18px;
    font-family: "Be Vietnam Pro";
}

.valor{
    font-family: "Be Vietnam Pro";
}

/* WHATSAPP */
.whatsapp {
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: transform 0.5s ease-in-out, 
                filter 0.5s ease-in-out;
}

.whatsapp img {
    width: 80px;
    filter: drop-shadow(0 5px 1px #00000025);
}

.whatsapp:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 7px 2px #00000025);
}